.wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 100vh;
    max-width: 900px;
}

/* PHONE DIV */

.phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.phone img{
    height: 34rem;
}

/* INFO DIV */
.continue{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 34rem;
    width: 50%;
}

.login-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 1.3rem;
    border: 1px solid lightgray;
}

.login-container:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}

.logout{
    color: #0095f6;
    margin-top: 1rem;
}

.wrong-account{
    color: rgb(160, 160, 160);
}

.blue-link{
    color: #0095f6;
}

.download-container{
    display: flex;
    flex-direction: column;    
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download-buttons{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
}

.download-icon{
    height: 3rem;
    width: 10.5rem;
    background-size: cover;
}

.download-icon:nth-child(1){
    background-image: url('../img/googleplay-button.png');
}

.download-icon:nth-child(2){
    background-image: url('../img/apple-button.png');
}
