.checkbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkbox{
    height: 100px;
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    cursor: pointer;
    z-index: 9999;
    transition: 500ms ease-in-out 0s;
}

.checkbox .dash{
    height: 2px;
    width: 50px;
    background-color: white;
    position: absolute;
    border-radius: 4px;
    transition: 500ms ease-in-out;
}

.checkbox .dash:nth-child(1){
    top: 26px;
}

.checkbox .dash:nth-child(2){
    top: 46px;
}

.checkbox .dash:nth-child(3){
    top: 66px;
}

#toggle{
    display: none;
}