#toggle:checked + .checkbox .dash:nth-child(1){
    transform: rotate(45deg);
    background-color: #2e1c2b;
    top: 47px;
}

#toggle:checked + .checkbox .dash:nth-child(2){
    transform: translateX(-50px);
    width: 30px;
    visibility: hidden;
    opacity: 0;
}

#toggle:checked + .checkbox .dash:nth-child(3){
    transform: rotate(-45deg);
    background-color: #2e1c2b;
    top: 48px;
}

#toggle:checked + .checkbox{
    background-color: white;

}

#toggle:checked ~ .menu{
    box-shadow: 0px 0px 0px 100vmax white;
    z-index: 1;
}

#toggle:checked ~ .menu-items{
    visibility: visible;
    opacity: 1;
}
