.card-wrapper::before{
    content: '';
    position: absolute;
    height: 100px;
    width: 100px;
    display: block;
    border: 1px solid white;
    opacity: 0;
    transition: 0.3s;
}

.card:hover{
    filter: grayscale(0.5);
}

.card:hover > .card-wrapper::before{
    width: 350px;
    height: 250px;
    opacity: 1;
}

.card:hover > .card-wrapper p{
    font-size: 24px;
    opacity: 1;
    visibility: visible;
}
